@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.logout-img {
  width:2.5rem;
  border-radius: 50%;
  float: left;
}

.logout-label {
  font-size: .8rem;
  font-family: 'Oswald', sans-serif;
  position: relative;
  right: -18px;
  bottom: -8px;
  overflow: hidden;
  letter-spacing: 3px; 
}

.logout-btn {
	text-decoration: none;
	float: left;
  padding: 12px;
  margin: 0.5rem;
  color: white;
  width: 1.8rem;
  background-color: rgb(22, 73, 131);
  transition: width .35s;
  overflow: hidden;
}

.logout a:hover {
  width: 7rem;
}



