<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wish-list</title>
    <link rel="stylesheet" href="wishlist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
        <nav class="docnav-bar flex-center">
            <div class="flex-center nav-title nav-rflex margin-edge-items cursor-pointer">
                <h1 class="title-firstword"onClick="location.href='/index.html'">Fly <span class="title-secondword">Buy</span></h1>
            </div>
            <div class="flex-center">
                <input type="search"placeholder="search here..."class="border-searchbox search-input">
                <button class="search-go border-searchbox cursor-pointer">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="login-btn">
                <button class="login-site cursor-pointer"onClick="location.href='/component/Authentication/login/index.html'">
                    Login
                </button>
            </div>
            <div class="wish-list margin-edge-items flex-center">
                <div class="wishlist-btn">
                    <span class="nav-icon"onClick="location.href='./wishlist.html'">
                        <i class="fa-solid fa-heart"></i>
                    </span>
                    <div class="nav-wishlist-count wishlist-items">
                        <span>0</span>
                    </div>
                </div>
            </div>
            <div class="nav-cart-container  margin-edge-items">
                <div class="nav-center flex-center">
                    <div class="cart-btn"onClick="location.href='/component/cart-management/cart.html'">
                        <span class="nav-icon">
                            <i class="fa-brands fa-opencart"></i>
                        </span>
                        <div class="nav-cart-count cart-items">
                            <span>0</span>
                        </div>
                    </div>
                    <span class="cart-name">Cart</span>
                </div>
            </div>
        </nav>
        <section class="products">
            <div class="section-title">
                <h2>My wishlist</h2>
            </div>
            <div class="products-center">
                <article class="product">
                    <div class="img-container">
                        <img src="/img-1/product-1.webp" alt="product" class="product-img" />
                        <button class="bag-wishlisted"><i class="fa-solid fa-heart"></i></button>
                    </div>
                    <h3>Mast & Harbour</h3>
                    <h5>Women Blue Solid Bomber Jacket</h5>
                    <h4>Rs.2699<span><del>3600</del></span></h4>
                </article>
                <article class="product">
                    <div class="img-container">
                        <img src="/img-1/product-2.webp" alt="product" class="product-img" />
                        <button class="bag-wishlisted"><i class="fa-solid fa-heart"></i></button>
                    </div>
                    <h3>Mast & Harbour</h3>
                    <h5>Women Yellow Solid Bomber Jacket</h5>
                    <h4>Rs.2699</h4>
                </article>
                <article class="product">
                    <div class="img-container">
                        <img src="/img-1/product-1.webp" alt="product" class="product-img" />
                        <button class="bag-wishlisted"><i class="fa-solid fa-heart"></i></button>
                    </div>
                    <h3>Mast & Harbour</h3>
                    <h5>Women Blue Solid Bomber Jacket</h5>
                    <h4>Rs.2699<span><del>3600</del></span></h4>
                </article>
                <article class="product">
                    <div class="img-container">
                        <img src="/img-1/product-2.webp" alt="product" class="product-img" />
                        <button class="bag-wishlisted"><i class="fa-solid fa-heart"></i></button>
                    </div>
                    <h3>Mast & Harbour</h3>
                    <h5>Women Yellow Solid Bomber Jacket</h5>
                    <h4>Rs.2699</h4>
                </article>
                <article class="product">
                    <div class="img-container">
                        <img src="/img-1/product-1.webp" alt="product" class="product-img" />
                        <button class="bag-wishlisted"><i class="fa-solid fa-heart"></i></button>
                    </div>
                    <h3>Mast & Harbour</h3>
                    <h5>Women Blue Solid Bomber Jacket</h5>
                    <h4>Rs.2699<span><del>3600</del></span></h4>
                </article>
                <article class="product">
                    <div class="img-container">
                        <img src="/img-1/product-2.webp" alt="product" class="product-img" />
                        <button class="bag-wishlisted"><i class="fa-solid fa-heart"></i></button>
                    </div>
                    <h3>Mast & Harbour</h3>
                    <h5>Women Yellow Solid Bomber Jacket</h5>
                    <h4>Rs.2699</h4>
                </article>
                
        </section>
</body>
</html>