@import url("/component/home/home.css");
.bag-wishlisted{
    color:var(--secondaryColor);
    position: absolute;
	top: 10%;
	right: 0;
    font-size: 2rem;
    border: none;
	background: var(--primaryColor);
	text-transform: uppercase;
	padding: 0.5rem 0.75rem;
	letter-spacing: var(--mainSpacing);
	font-weight: bold;
	cursor: pointer;
}
.bag-wishlisted:hover{
	color: var(--mainWhite);
  }