@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #1276a5;
  --secondaryColor: #cf443f;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --main-bg: #043044;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* navbar starts */
.docnav-bar {
  background: var(--main-bg);
  color: var(--mainWhite);
  position: sticky;
  top: 0;
  height: 4.5rem;
  width: 100%;
  margin-left: 0 auto;
  margin-bottom: 3rem;
  justify-content: space-evenly;
  z-index: 1;
}

.flex-center {
  display: flex;
  place-items: center center;
  flex-wrap: wrap;
}

.nav-icon {
  font-size: 1.4rem;
}

.title-firstword {
  color: var(--primaryColor);
}

.title-secondword {
  color: var(--secondaryColor);
}

.nav-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.navbar h1:hover {
  border: 1px solid black;
  padding: 8px;
}

.cart-btn,
.wishlist-btn {
  position: relative;
  cursor: pointer;
}

.cart-items,
.wishlist-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

.cart-name {
  margin-top: 0.6rem;
  margin-left: 0.2rem;
  font-size: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-edge-items {
  margin: 0 0.9rem;
}

.login-site {
  background: var(--primaryColor);
  color: var(--mainWhite);
  font-size: 1.2rem;
  padding: 7px;
}

.search-input[type="search"] {
  border-radius: 10px 0 0 10px;
}

.border-searchbox {
  padding: 7px;
  border: none;
  outline: none;
  font-size: 1.3rem;
}

.search-go {
  background: var(--secondaryColor);
  color: var(--main-bg);
  border-radius: 0 10px 10px 0;
}

/* nav bar ends */
/* hero  */
.hero-slides {
  min-height: 30rem;
  min-height: calc(100vh-4.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-slide1 {
  background: url("/img-1/hero.jpg") center/cover no-repeat;
}

.banner1 {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}

.banner-title1 {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}

.banner-btn1 {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
}

.banner-btn1:hover {
  background: transparent;
  color: var(--primaryColor);
}

/* end of hero */
/* products */
.products {
  padding: 4rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.products-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;

}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-wishlist {
  position: absolute;
  top: 60%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  cursor: pointer;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  cursor: pointer;
}

.bag-btn-2 {
  background: var(--secondaryColor);
}

.bag-btn:hover,
.bag-wishlist:hover {
  color: var(--mainWhite);
}

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h5 {
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}
/* responsive navbar  */
@media screen and (max-width:450px) {
  .docnav-bar{
    height: 9rem;
  }
  .hero-slides{
    min-height:calc(100vh-9rem);
  }
  .loginbox-align{
    top:70%;
  }
  .cart{
    top:9rem;
  }
  .cart-item img {
    width: 8rem;
    height: 8rem;
  }
  .cart-item div{
    width:fit-content;
  }
  .banner-btn1{
    padding: 0.5rem;
    margin-bottom:3rem;
  }
}
