.loginbox-align{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-box {
    width: 25rem;
    padding: 3rem;
    background: #7195a3;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 12px 0;
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    transition: 0.5s;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 0;
    font-size: 1.3rem;
    color: #fff;
    pointer-events: none;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label,
.login-box .user-box input:valid~label {
    top: -1.6rem;
    left: 0;
    color: #a7f1db;
    font-size: 18px;
}

.login-submit {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(13, 13, 14);
    font-weight: 800;
    border: 1px solid lightblue;
    padding: 8px;
}